<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.vip.ios.mycompany</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Folders</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
		<string>com.apple.dt.unit.sceneLifecycleApplication</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array/>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>SwiftUI</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>ContentView.swift</string>
							<string>Preview Content/Preview Assets.xcassets</string>
							<string>SceneDelegate.swift:imports:importSwiftUI</string>
							<string>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:optionsConnectionOptions</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>ContentView.swift</key>
							<dict>
								<key>SortOrder</key>
								<integer>99</integer>
								<key>Path</key>
								<string>ContentView.swift</string>
							</dict>
							<key>Preview Content/Preview Assets.xcassets</key>
							<dict>
								<key>SortOrder</key>
								<integer>100</integer>
								<key>Path</key>
								<string>Preview Assets.xcassets</string>
								<key>Group</key>
								<string>Preview Content</string>
							</dict>
							<key>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:optionsConnectionOptions</key>
							<string>
								// Use a UIHostingController as window root view controller.
								let appAssembly : SceneModuleProtocol = SceneModule()
								if let windowScene = scene as? UIWindowScene {
								  	let window = UIWindow(windowScene: windowScene)
								    appAssembly.applicationShowInitVC(window, scene: scene)
								}
							</string>
							<key>*:imports:importSwiftUI</key>
							<string>import SwiftUI</string>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>ENABLE_PREVIEWS</key>
									<string>YES</string>
									<key>DEVELOPMENT_ASSET_PATHS</key>
									<string>___PACKAGENAMEPREVIEWCONTENT:quoteIfNeeded___</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Core/SceneModule.swift</string>
						<string>BaseVIP/VIP.swift</string>
						<string>BaseVIP/Provider/BaseProvider.swift</string>
						<string>ManagerNetworking/RequestManager.swift</string>
						<string>Utils/Utils.swift</string>
						<string>Utils/swiftlint.yml</string>
						<string>Modules/Providers/MoviesProvider.swift</string>
						<string>Modules/Coordinators/MoviesModule.swift</string>
						<string>Modules/Entities/MoviesEntity.swift</string>
						<string>Modules/Sections/MovieView/MoviesView.swift</string>
						<string>Modules/Sections/MovieView/MoviesPresenter.swift</string>
						<string>Modules/Sections/MovieView/MoviesInteractor.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>bundleIdentifier</string>
			<key>Name</key>
			<string>Bundle Identifier:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>Your new product&apos;s bundle identifier</string>
			<key>Default</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Core/SceneModule.swift</key>
		<dict>
			<key>SortOrder</key>
			<string>1</string>
			<key>Path</key>
			<string>Core/SceneModule.swift</string>
			<key>Group</key>
			<array>
				<string>Core</string>
			</array>
		</dict>
		<key>BaseVIP/VIP.swift</key>
		<dict>
			<key>SortOrder</key>
			<string>2</string>
			<key>Group</key>
			<array>
				<string>BaseVIP</string>
			</array>
			<key>Path</key>
			<string>BaseVIP/VIP.swift</string>
		</dict>
		<key>BaseVIP/Provider/BaseProvider.swift</key>
		<dict>
			<key>SortOrder</key>
			<string>2</string>
			<key>Group</key>
			<array>
				<string>BaseVIP</string>
				<string>Provider</string>
			</array>
			<key>Path</key>
			<string>BaseVIP/Provider/BaseProvider.swift</string>
		</dict>
		<key>ManagerNetworking/RequestManager.swift</key>
		<dict>
			<key>SortOrder</key>
			<string>3</string>
			<key>Group</key>
			<array>
				<string>ManagerNetworking</string>
			</array>
			<key>Path</key>
			<string>ManagerNetworking/RequestManager.swift</string>
		</dict>
		<key>Utils/Utils.swift</key>
		<dict>
			<key>SortOrder</key>
			<string>4</string>
			<key>Group</key>
			<array>
				<string>Utils</string>
			</array>
			<key>Path</key>
			<string>Utils/Utils.swift</string>
		</dict>
		<key>Utils/swiftlint.yml</key>
		<dict>
			<key>SortOrder</key>
			<string>4</string>
			<key>Group</key>
			<array>
				<string>Utils</string>
			</array>
			<key>Path</key>
			<string>Utils/swiftlint.yml</string>
		</dict>
		<key>Modules/Providers/MoviesProvider.swift</key>
		<dict>
			<key>SortOrder</key>
			<string>5</string>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Providers</string>
			</array>
			<key>Path</key>
			<string>Modules/Providers/MoviesProvider.swift</string>
		</dict>
		<key>Modules/Coordinators/MoviesModule.swift</key>
		<dict>
			<key>SortOrder</key>
			<string>5</string>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Coordinators</string>
			</array>
			<key>Path</key>
			<string>Modules/Coordinators/MoviesModule.swift</string>
		</dict>
		<key>Modules/Entities/MoviesEntity.swift</key>
		<dict>
			<key>SortOrder</key>
			<string>5</string>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Entities</string>
			</array>
			<key>Path</key>
			<string>Modules/Entities/MoviesEntity.swift</string>
		</dict>
		<key>Modules/Sections/MovieView/MoviesView.swift</key>
		<dict>
			<key>SortOrder</key>
			<string>6</string>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Sections</string>
				<string>MovieView</string>
			</array>
			<key>Path</key>
			<string>Modules/Sections/MovieView/MoviesView.swift</string>
		</dict>
		<key>Modules/Sections/MovieView/MoviesPresenter.swift</key>
		<dict>
			<key>SortOrder</key>
			<string>6</string>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Sections</string>
				<string>MovieView</string>
			</array>
			<key>Path</key>
			<string>Modules/Sections/MovieView/MoviesPresenter.swift</string>
		</dict>
		<key>Modules/Sections/MovieView/MoviesInteractor.swift</key>
		<dict>
			<key>SortOrder</key>
			<string>6</string>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Sections</string>
				<string>MovieView</string>
			</array>
			<key>Path</key>
			<string>Modules/Sections/MovieView/MoviesInteractor.swift</string>
		</dict>
	</dict>
</dict>
</plist>
